{% extends 'base.html' %}

{% block content %}

    <div style="margin-top: 8rem;">
        <h2 style="text-align: center; padding: 2rem">
            [비밀번호 초기화]
        </h2>
    </div>
    <div style="max-width: 680px; padding: 1rem; margin: 4rem auto; line-height: 1.96; text-align: center">
        <p>비밀번호를 잊어버렸나요?<br> 회원가입시 입력한 이메일 주소를 아래에 입력하시면 새로운 비밀번호를 설정하는 절차를 이메일로 보내드리겠습니다.</p><br>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {#            <button type="submit">비밀번호 초기화</button>#}
            <input type="submit" value="전송" class="btn btn-primary rounded-pill col-4 mt-4">
        </form>

    </div>

{% endblock %}