{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div style="text-align: center; max-width: 600px; margin: 8rem auto;">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="recipient_id">Recipient:</label>
                <input type="number" name="recipient_id" id="recipient_id" class="form-control">
{#                    {% for user in users %}#}
{#                        {% if user != request.user %}#}
{#                            <option value="{{ user.id }}">{{ user.username }}</option>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
                </input>
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea name="message" id="message" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
{% endblock %}
