{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div style="margin-top: 8rem;">
        <div style="text-align: center">
            <h3>[이용약관 및 개인정보 수집 동의]</h3>
        </div>
        <div style="max-width: 600px; padding: 1rem; margin: 4rem auto; line-height: 1.96">
            <form>
                <h5>이용약관</h5><br>
                <p>
                    1. 이 홈페이지는 예약을 목적으로 제공되는 것입니다.<br />
                    2. 본 홈페이지의 정보와 서비스를 이용하는 것은 본인의 책임입니다.<br />
                    3. 본 홈페이지에서 제공하는 예약 서비스 이외의 어떠한 목적으로도 이용할 수 없습니다.<br />
                    4. 본 홈페이지를 이용함으로써 발생하는 모든 문제는 이용자 본인이 책임져야 합니다.<br>
                </p><br>

                <h5>개인정보 수집동의</h5><br>
                <p>
                    1. 수집하는 개인정보: 이름, 이메일, 생년월일, 휴대폰번호<br />
                    2. 개인정보 수집 목적: 본인 확인 및 예약 서비스 제공<br />
                    3. 개인정보 보유 및 이용 기간: 예약 서비스 이용 종료 후 1년간 보유 및 이용<br />
                    4. 개인정보 취급 위탁: 본 홈페이지는 개인정보를 타 업체에 위탁하지 않습니다.<br />
                    5. 동의 거부 권리: 개인정보 수집에 대한 동의는 거부할 수 있습니다. 단, 동의하지 않을 경우 예약 서비스 이용이 불가능합니다.
                </p><br>

                <div style="text-align: center">
                    <input type="checkbox" id="agree-checkbox" />
                    <label for="agree-checkbox">이용약관과 개인정보 수집에 동의합니다.</label>
                </div><br>
                <div  style="text-align: center">

                {#            <a href="{% url 'accountapp:create' %}"><span id="submitText">가입하기</span></a>#}
                <button type="button" class="btn btn-primary" id="submit-button" disabled onclick="location.href = '{% url 'accountapp:create' %}'">가입하기</button>
                {#            <button id="submit-button" disabled>가입하기</button>#}
                </div>
            </form>
        </div>
    </div>

    <script>
        const agreeCheckbox = document.getElementById("agree-checkbox");
        const submitButton = document.getElementById("submit-button");

        agreeCheckbox.addEventListener("change", () => {
            submitButton.disabled = !agreeCheckbox.checked;
        });
    </script>

{% endblock %}