{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center">
        <div style="height: 10rem; background-color:#38df81; border-radius: 1rem; margin: 2rem;">
            testing
        </div>
        <div>
            <form action="/account/hello_world/" method="post">
                {% csrf_token %}
                <div>
                    <input type="text" name="hello_world_input">
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="POST">
                </div>
            </form>
        </div>
        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
        <div>
            {{ hello_world.text }}
        </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}