{% extends 'base.html' %}

{% block content %}
    <meta charset="UTF-8">

    <div class="container">
        <div>이름 : <input type="text" id="name"></div>
        <div>지역 :
            <select id="city" onchange="change_city();">
{#                <option value="02" selected>서울</option>#}
{#                <option value="064">제주</option>#}
            </select>
        </div>
        <div>동네:
            <select id="region_02">
                <option value="">강남</option>
                <option value="">서초</option>
            </select>
            <select id="region_064" style="display: none;">
                <option value="">제주시</option>
                <option value="">서귀포시</option>
            </select>
        </div>
        <button type="button" onclick="register();">등록</button>
    </div>

    <script>
        function loadcity() {
            let city = [
                {code: '02', name: '서울'},
                {code: '064', name: '제주'}
            ]
            for (let i=0; i<city.length; i++)
                if (i==0) $('#city').append(`<option value="${city[i].code}" selected>${city[i].name}</option>`)
                else $('#city').append(`<option value="${city[i].code}">${city[i].name}</option>`)
        }
        loadcity();
        function register() {
            {#alert($("#name").val());#}
            {#alert($("#city").val());#}
            alert(document.getElementById('city').name)
        }
        function change_city() {
            {#let city = document.getElementById('city').value;#}
            {#document.getElementById('region_02').style.display = "none";#}
            {#document.getElementById('region_064').style.display = "none";#}
            {#document.getElementById('region_' + city).style.display = "";#}
            let city = $('#city').val();
            $('#region_02').hide();
            $('#region_064').hide();
            $('#region_' + city).show();
        }
    </script>
{% endblock %}