{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div style="margin-top: 8rem;">
        <div style="text-align: center;">
            <h3>[로그인]</h3>
        </div>
        <div style="max-width: 480px; padding: 2rem; margin: 4rem auto; line-height: 1.96; text-align: center;">
            <form action="{% url 'accountapp:login' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div style="margin-top: 4rem"><input type="submit" value="로그인" class="btn btn-primary rounded-pill col-6 mt-4"/></div>
            </form>
            <div style="margin-top: 2rem"><a href="/passwords/password_reset"><p>비밀번호를 잊으셨나요?</p></a></div>
        </div>
    </div>
{% endblock %}