
<div style="text-align: center; font-size: 0.8rem">
    <footer class="py-3 bg-dark">
        <div class="container px-4"><p class="m-0 text-center text-white">주소 : 경상북도 경산시 대학로 63(킴스메디빌 6층),   Tel. 053-801-8575,   F<a href="/admin" style="color: white">a</a>x. 053-801-8576<br>
    <a href="{% url 'superapp:supercreate' %}" style="color: white">s</a>ince 2010.10.11    푸른마취통증의학과의원.   ALL RIGHTS RESERVED.   Copyright &copy;  Your <a href="{% url 'articleapp:waiting_update' pk=1 %}" style="color: white">W</a>ebsite 2022</p></div>
    </footer>

</div>