<div style="text-align: center; font-size: 0.6rem; margin-top: 4rem">
    <footer class="py-3 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">
                주소 : 경상북도 경산시 대학로 63(킴스메디빌 6층), Tel. 053-801-8575, Fax. 053-801-8576<br>
                since 2010.10.11 푸른마취통증의학과의원. ALL RIGHTS RESERVED. Copyright &copy; Your Website 2022<br>

                {% if user.is_superuser %}
                    <div style="margin-top: 1rem;">  <span style="font-weight: bold;">관리자 기능:</span><br> <a href="/admin" style="color: white">관리자 페이지</a> |
                        <a href="{% url 'superapp:supercreate' %}" style="color: white">슈퍼 예약</a> |
                        <a href="{% url 'articleapp:waiting_update' pk=1 %}" style="color: white">대기환자수 입력</a> |
                        <a href="{% url 'articleapp:holiday_create' %}" style="color: white">휴일 생성</a>
                    </div>
                {% endif %}
            </p>
        </div>
    </footer>
</div>