{% block content %}

    <div style="display: flex; justify-content: space-between; align-items: center">
        <div>
            <h1 style="color: darkblue">
                푸른마취통증의학과
            </h1>
        </div>
        <div style="padding: 2rem; color: cornflowerblue">
            <span>
                진료과목
            </span>
            <span style="margin: 2rem">
                예약하기
            </span>
            <span>
                찾아오시는 길
            </span>
        </div>

    </div>

{% endblock %}