{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<a href="{% url 'bookingapp:test2' %}"><span>next</span></a>
<table class="table table-striped-columns" style="width:95%">
    <tr>
        <td id=""></td>
        <td id="day_1"></td>
        <td id="day_2"></td>
        <td id="day_3"></td>
        <td id="day_4"></td>
        <td id="day_5"></td>
        <td id="day_6"></td>
    </tr>
    <tr>
        <td></td>
        <td id="weekday_1"></td>
        <td id="weekday_2"></td>
        <td id="weekday_3"></td>
        <td id="weekday_4"></td>
        <td id="weekday_5"></td>
        <td id="weekday_6"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<script>
    function today() {
        var today = new Date();
        var week = new Array( '일', '월', '화', '수', '목', '금', '토');
        document.getElementById('day_1').innerHTML = today.toLocaleDateString('ko-kr');
        document.getElementById('weekday_1').innerHTML = week[today.getDay()]
    }
    function today_1() {
        var today = new Date();
        var today_1 = new Date(today.setDate(today.getDate() + 1));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.getElementById('day_2').innerHTML = today_1.toLocaleDateString('ko-kr');
        document.getElementById('weekday_2').innerHTML = week[today_1.getDay()]
    }
    function today_2() {
        var today = new Date();
        var today_2 = new Date(today.setDate(today.getDate() + 2));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.getElementById('day_3').innerHTML = today_2.toLocaleDateString('ko-kr');
        document.getElementById('weekday_3').innerHTML = week[today_2.getDay()]
    }
    function today_3() {
        var today = new Date();
        var today_3 = new Date(today.setDate(today.getDate() + 3));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.getElementById('day_4').innerHTML = today_3.toLocaleDateString('ko-kr');
        document.getElementById('weekday_4').innerHTML = week[today_3.getDay()]
    }
    function today_4() {
        var today = new Date();
        var today_4 = new Date(today.setDate(today.getDate() + 4));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.getElementById('day_5').innerHTML = today_4.toLocaleDateString('ko-kr');
        document.getElementById('weekday_5').innerHTML = week[today_4.getDay()]
    }
    function today_5() {
        var today = new Date();
        var today_5 = new Date(today.setDate(today.getDate() + 5));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.getElementById('day_6').innerHTML = today_5.toLocaleDateString('ko-kr');
        document.getElementById('weekday_6').innerHTML = week[today_5.getDay()]
    }
    function today_6() {
        var today = new Date();
        var today_6 = new Date(today.setDate(today.getDate() + 6));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_6.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_6.getDay()] + '<br />');
    }
    function today_7() {
        var today = new Date();
        var today_7 = new Date(today.setDate(today.getDate() + 7));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_7.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_7.getDay()] + '<br />');
    }
    function today_8() {
        var today = new Date();
        var today_8 = new Date(today.setDate(today.getDate() + 8));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_8.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_8.getDay()] + '<br />');
    }
    function today_9() {
        var today = new Date();
        var today_9 = new Date(today.setDate(today.getDate() + 9));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_9.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_9.getDay()] + '<br />');
    }
    function today_10() {
        var today = new Date();
        var today_10 = new Date(today.setDate(today.getDate() + 10));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_10.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_10.getDay()] + '<br />');
    }
    function today_11() {
        var today = new Date();
        var today_11 = new Date(today.setDate(today.getDate() + 11));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_11.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_11.getDay()] + '<br />');
    }
    function today_12() {
        var today = new Date();
        var today_12 = new Date(today.setDate(today.getDate() + 12));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_12.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_12.getDay()] + '<br />');
    }
    function today_13() {
        var today = new Date();
        var today_13 = new Date(today.setDate(today.getDate() + 13));
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        document.write(today_13.toLocaleDateString('ko-kr'));
        document.write(" " + week[today_13.getDay()] + '<br />');
    }

    time_list = [09:20, ]

    today()
    today_1()
    today_2()
    today_3()
    today_4()
    today_5()
</script>
{% endblock %}
