{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div style="text-align: center; margin-bottom: 4rem">
        <div class="mb-4"  style="margin-top: 8rem; margin-bottom: 2rem;">
        <h2 style="margin-bottom: 4rem">[예약 취소]</h2>
        </div>
        {% if request.user == booking.user %}
            <h5 style="margin-bottom: 2rem">{{ booking.booking_date }} &nbsp &nbsp {{ booking.booking_time }}</h5>
            <h6 style="margin-bottom: 2rem">의 예약을 취소합니다.</h6>

            <form action="{% url 'bookingapp:delete' pk=booking.pk %}" method="post">
                {%  csrf_token %}
                <input type="submit" value="확인" class="btn btn-danger rounded-pill col-1 mt-3">
            </form>
        {% endif %}
    </div>
{% endblock %}