{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div>
        <div class="mb-4"  style="margin-top: 8rem; margin-bottom: 2rem; text-align: center">
            <h2>[진료예약 정보]</h2>
        </div>

        <div style="text-align: center; margin-bottom: 4rem">
            <h3 style="margin: 4rem; font-family: 'NanumSquareB';">
                {{ user.profile.real_name }} 님의 예약
            </h3>
            {% if request.user == user %}
                {% for book in user.booking.all %}
                    {% if book.booking_status == '예약요청' %}
                        <div>
                            <p style="margin: 2rem">예약일자 : {{ book.booking_date }} &nbsp &nbsp 예약시간 : {{ book.booking_time }} &nbsp &nbsp{{ book.booking_status }} &nbsp &nbsp &nbsp<a href="{% url 'bookingapp:delete' book.id %}">예약취소</a></p>
                        </div>
                    {% elif book.booking_status == '예약승인' %}
                        <div>
                            <p style="margin: 2rem">예약일자 : {{ book.booking_date }} &nbsp &nbsp 예약시간 : {{ book.booking_time }} &nbsp &nbsp{{ book.booking_status }} &nbsp &nbsp &nbsp<a href="{% url 'bookingapp:delete' book.id %}">예약취소</a></p>
                        </div>
                    {% else %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}