{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div>
        <div class="mb-4" style="margin-top: 8rem; margin-bottom: 2rem; text-align: center">
            <h2>[진료예약 정보]</h2>
        </div>
    {% if errors %}
        <div style="text-align: center; margin-bottom: 2rem; margin-top: 4rem">
            <h3 style="color: darkred; font-family: 'NanumSquareB';">예약불가</h3>
            <p style="max-width: 680px; padding: 1rem; margin: 2rem auto; line-height: 1.96">{{ errors }}</p>
        </div>
    {% else %}
        <div>
            <h3 style="margin: 4rem; font-family: 'NanumSquareB';">
                {{ user.profile.real_name }} 님의 예약
            </h3>
            {% if request.user == user %}
                {% for book in user.booking.all %}
                        <div>
                            <p style="margin: 2rem">예약일자 : {{ book.booking_date }} &nbsp &nbsp 예약시간 : {{ book.booking_time }} &nbsp &nbsp &nbsp<a href="{% url 'bookingapp:delete' book.id %}">예약휘소</a></p>

                        </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
    </div>
{% endblock %}