{% extends 'base.html' %}
{% block content %}
    <div style="margin-top: 8rem;">
        <h2 style="text-align: center;">
            [고정형 영상정보처리기기(CCTV) 운영 및 관리 방침]
        </h2>
    </div>
    <div style="max-width: 680px; padding: 1rem; margin: 4rem auto; line-height: 1.96">
        <h5>1.영상정보처리기기의 설치 근거 및 설치 목적</h5>
        <p>본 의원은 「개인정보 보호법」 제25조 제1항에 따라 다음과 같은 목적으로 영상정보처리기기를 설치·운영합니다.</p>
        <ul>- 환자 및 의료진의 안전 확보</ul>
        <ul>- 시설안전 및 화재 예방</ul>
        <ul>- 범죄 예방 및 수사</ul>
        <ul>- 의료장비 및 시설물의 도난·도격 방지</ul><br>
        <h5>2.설치 대수, 설치 위치 및 촬영범위</h5>
        <ul>- 설치 대수: 5 대</ul>
        <ul>- 설치 위치: 대기실, 복도 등</ul>
        <ul>- 촬영범위: 해당 시설의 정보보호 및 안전을 위한 최소한의 범위</ul><br>
        <h5>3.관리책임자 및 접근권한자</h5>
        <p>영상정보를 보호하고 이와 관련한 불만을 처리하기 위하여 아래와 같이 개인영상정보 보호책임자를 두고 있습니다.</p>
        <ul>- 관리책임자: 원장</ul>
        <ul>- 연락처: 053-801-8575</ul>
        <ul>- 접근권한자: 원장</ul><br>
        <h5>4.영상정보의 촬영시간, 보관기간, 보관장소 및 처리방법</h5>
        <ul>- 촬영시간: 24시간 촬영</ul>
        <ul>- 보관기간: 촬영일로부터 30일</ul>
        <ul>- 보관장소: 푸른마취통증의학과의원 내</ul>
        <ul>- 처리방법: 보관기간 만료 시 자동 삭제</ul><br>
        <h5>5.개인영상정보의 확인 방법 및 장소에 관한 사항</h5>
        <p>영상정보 관리책임자에게 미리 연락하고 본 의원을 방문하시면 확인 가능합니다. 단, 귀하가 촬영된 개인영상정보 및 명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보에 한정됩니다.</p><br>
        <h5>6.정보주체의 영상정보 열람 등 요구에 대한 조치</h5>
        <p>정보주체는 개인영상정보에 관하여 열람 또는 존재확인·삭제를 원하는 경우 언제든지 영상정보처리기기 운영자에게 요구하실 수 있습니다.</p><br>
        <h5>7.영상정보의 안전성 확보조치</h5>
        <p>본 의원에서 처리하는 영상정보는 암호화 조치 등을 통하여 안전하게 관리되고 있습니다. 또한 본 의원은 개인영상정보보호를 위한 관리적 대책으로서 개인정보에 대한 접근 권한을 차등부여하고 있습니다.</p><br>
    </div>
    <style>
    </style>
{% endblock %}