{% extends 'base.html' %}

{% block content %}

    <div style="margin-top: 1rem">
        <h1 style="text-align: center; color: darkblue">
            <strong>푸른통증의학과의원</strong>
        </h1>
    </div>
    <div class="d-grid gap-2 col-3 mx-auto" style="text-align: center; margin-top: 2rem">
        <a href="{% url 'bookingapp:create' %}"><button type="button" class="btn btn-primary rounded-pill col-6 mt-3 btn-lg" style="font-size: 1.5rem; font-weight: bolder;">예약하기</button></a>
    </div>
    <div style="text-align: center; margin: 2rem; ">
        <img src="https://lh3.googleusercontent.com/p/AF1QipP98IAqf4ifHIF5oRoOSaYlGaNjiIrYiWbChE9t=w1080-h608-p-no-v0">
    </div>

{% endblock %}