{% extends 'base.html' %}

{% block content %}
    <header class="bg-gradient text-white" style="background-color: #417690 !important;">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder" style="font-family: 'NanumSquareB'">푸른 마취통증의학과 의원</h1>
            <p class="lead">근골격계 고유의 기능을 회복시켜 근본적인 치유를 추구하는 병원입니다</p>
            <a class="btn btn-lg btn-light" href="{% url 'bookingapp:create' %}" style="margin-top: 2.8rem">예약하기!</a>
        </div>
    </header>

    {% if notes %}
{#        <div class="alert alert-light" role="alert">#}
        <div style="text-align: center; text-decoration-line: underline; margin: 0.2rem 0"><a href="{% url 'noteapp:display_notes' %}" ><strong>내게 온 메시지: {{ notes_count }}개</strong></a></div>
{#        </div>#}
    {% endif %}

    {% if holiday_messages %}
        <div class="alert alert-danger" role="alert" style="margin: 0.4rem 0.4rem; padding-left: 0.2rem; padding-right: 0.2rem">
            {% for holiday_message in holiday_messages %}
                <div style="text-align: center; font-size: 1.0rem">{{ holiday_message.holiday_message }}</div>
            {% endfor %}
        </div>
    {% endif %}


    <div id='waiting_num_notice' class="alert alert-warning" role="alert" style="text-align: center; margin: 0.4rem 0.4rem">
        <p class="modal-title" style="font-size:1.2rem; margin-bottom: 0.8rem">선착순 대기환자 안내</p>
        <p>{{ waiting_date }} {{ waiting_time }} (현재)<br> 대기환자 : <span style="color: darkred; font-weight: bold">{{ waiting.waiting_num }}</span> / 4 명</p>
        <p>꼭!!! 집계된 시간을 체크하세요.</p>
{#        <p id="test123"></p>#}
    </div>

    <div style="text-align: center">
        <a href="{% url 'articleapp:movie' %}">[온라인 예약 동영상 설명]</a>
    </div>
    <!-- About section-->
    {#    <div id='waiting_inform' style="margin-left: 2rem; line-height: 1.96">#}
    {#        {{ waiting_date }} {{ waiting_time }} (현재)<br> 선착순 대기환자 : <span style="color: darkred; font-weight: bold">{{ waiting.waiting_num }}</span> / 4 명#}
    {#    </div>#}
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="line-height: 1.96">
                    <h4 style=" margin-bottom: 1rem">[예약제에 대한 안내]</h4>
                    <p class="lead" style="font-size: 1.1rem">저희 푸른통증의학과 의원은 진료대기시간을 최소화 하고자 예약제로 운영되고 있습니다. 직접 예약하실 수 있도록 홈페이지를 만들어 운영하고 있으니 많은 이용 바랍니다.</p>
                    <P>[이용방법]</P>
                    <ul>
                        <li>오늘부터 2주간만 예약을 받습니다. [2주차]를 누르면 다음주의 예약도 가능합니다.</li>
                        <li>원하는 날짜와 시간에 [에약가능-파란색]이 있으면 클릭하셔서 예약하세요.</li>
                        <li style="color: darkred">예약신청 하시면 [예약요청-노란색]으로 바뀝니다. 병원에서 예약하시는 분과 겹칠 수 있으므로 확인 후 승인해 드립니다.</li>
                        <li>근무시간 기준 2시간 이내 승인되며 (야간, 일요일, 공휴일 제외) [예약승인-붉은색]으로 바뀝니다.</li>
                        <li>취소는 [나의 예약정보]에서 가능하며 변경은 먼저 취소 후 다시 예약하셔야 합니다.</li>
                        <li>온라인으로는 1주(월~토)에 1회만 예약이 가능합니다 (2주차에도 1회 예약 가능). 더 많은 예약이 필요하시면 전화해 주세요.</li>
                        <li style="color: darkred">[예약승인-붉은색]은 다른 환자분들이 이미 예약한 타임입니다. 예약하신 분이 취소하시면 [에약가능-파란색]으로 바뀌니 급히 진료가 필요한 분은 매일, 매시간 열람해 보실 것을 권장합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section class="bg-light" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="line-height: 1.96">
                    <h4>[당부 말씀]</h4>
                    <p class="lead" style="font-size: 1.1rem">예약하시고 못 오시게 되면 저희 병원과 먼저 예약하지 못한 환자분들에게 피해를 주게 됩니다. 다른 분들이 이용하실 수 있도록 가능한 한 빨리 예약 취소해 주시면 감사하겠습니다.<br> 취소는 [나의 예약정보]에서 가능합니다.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section-->
    <section id="contact">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="line-height: 1.96">
                    <h4>[다짐]</h4>
                    <p class="lead">저희 병원의 모든 의료진은 환자분들을 위해 항상 최선을 다할 것을 다짐합니다.
                        <li>환자들의 안전과 건강을 최우선으로 생각하겠습니다.
                        <li>진료 과정에서 최선을 다해 환자분들의 통증을 완화시키고, 쾌적한 치료 경험을 제공하겠습니다.
                        <li>환자분들의 건강 상태와 증상에 대한 이해를 돕기 위해, 친절하고 명확한 커뮤니케이션을 유지하겠습니다.
                        <li>의료진 간의 협력과 지속적인 교육을 통해, 항상 최신의 치료 지식과 기술을 습득하며 진료에 임하겠습니다.
                    <li>환자분들의 요구와 관심사를 항상 고려하며, 끊임없이 개선하고 발전시키겠습니다.
                    </p>
                </div>
            </div>
        </div>
    </section>


{#    대기환자수 모달창 안내#}
{#    <div class="modal" id="modal_inform" tabindex="-1" role="dialog">#}
{#        <div class="modal-dialog modal-sm">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title">선착순 대기환자 안내</h5>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="modal_close_1()"></button>#}
{#                </div>#}
{#                <div class="modal-body" style="text-align: center">#}
{#                    <p>{{ waiting_date }} {{ waiting_time }} (현재)<br> 대기환자 : <span style="color: darkred; font-weight: bold">{{ waiting.waiting_num }}</span> / 4 명</p>#}
{#                    <p>꼭!!! 집계된 시간을 체크하세요.</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <div>
{#        {% if notes %}#}
        {% if unread_notes_count > 0 %}
            <div class="modal" tabindex="-1" role="dialog" id="notes-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">새 메시지</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="modal_close()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                {% for note in notes reversed %}
                                    <div style="margin: 0.2rem 0">
                                        <li class="list-group-item {% if not note.is_read %}list-group-item-warning{% endif %}">
                                            <p>{{ note.message }}</p>
                                            <div style="display: flex; justify-content: space-between">
                                                <div><small class="text-muted">-{{ note.sender.profile.real_name }}-  {{ note.timestamp }}</small></div>
                                                <form method="POST" action="{% url 'noteapp:delete_notes' note.id %}" style="display: inline">
                                                    {% csrf_token %}
                                                    <div><button type="submit" class="btn btn-outline-danger btn-sm rounded-pill float-right">삭제</button></div>
                                                </form>
                                            </div>
                                        </li>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            {#                        <form method="post" action="{% url 'noteapp:delete_all_notes' %}" style="display: inline">#}
                            {#                            {% csrf_token %}#}
                            {#                            <button type="submit" class="btn btn-danger rounded-pill">전체 삭제</button>#}
                            {#                        </form>#}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="modal_close()">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(function() {
                    $('#notes-modal').modal('show');
                });
            </script>
        {% endif %}
    </div>


    <script>
        function waiting_inform() {
            var t_today = new Date();
            var t_hours = t_today.getHours(); // 시
            var t_min = t_today.getMinutes(); //분
            var t_total = (t_hours*60) + t_min;
            if (t_total > 480 && t_total < 550) {
                $('#modal_inform').show();
                {#document.getElementById('waiting_inform').style.display='block';#}
            }
            else if (t_total > 780 && t_total < 850) {
                $('#modal_inform').show();
                {#document.getElementById('waiting_inform').style.display='block';#}
            }
            else {
                $('#modal_inform').hide();
                {#document.getElementById('waiting_inform').style.display='none';#}
            }
        }

        function modal_close_1() {
            $('#modal_inform').hide();
        }

        function modal_close() {
            $('#notes-modal').modal('hide');
        }

        {#waiting_inform();#}

{#&& '{{ waiting_date }}'==today_date_han#}
        function waiting_inform_2() {
            var t_today = new Date();

            const t_month = (t_today.getMonth() + 1).toString().padStart(2, '0');
            const t_day = t_today.getDate().toString().padStart(2, '0');
            const today_date_han = `${t_month}월 ${t_day}일`;

            const t_hours_2 = t_today.getHours().toString().padStart(2, '0');
            const t_hours_3 = t_hours_2.substring(0, 2)
            const t_waiting_time_2 = '{{ waiting_time }}'
            const t_waiting_time_3 = t_waiting_time_2.substring(0, 2)
            const t_waiting_time_4 = (+t_waiting_time_3 + 1).toString().padStart(2, '0')
            {#const t_minutes_2 = t_today.getMinutes().toString().padStart(2, '0');#}
            {#const today_time_han = `${t_hours_2}시 ${t_minutes_2}분`;#}

            var t_hours = t_today.getHours(); // 시
            {#document.getElementById('test123').innerText = t_waiting_time_4 +"  "+ t_waiting_time_3 +"  "+t_hours_3#}
            var t_min = t_today.getMinutes(); //분
            var t_total = (t_hours*60) + t_min;
            if (t_total > 479 && t_total < 550 && '{{ waiting_date }}'==today_date_han && (t_hours_3==t_waiting_time_3 || t_hours_3==t_waiting_time_4)) {
                $('#waiting_num_notice').show();
                {#document.getElementById('waiting_inform').style.display='block';#}
            }
            else if (t_total > 769 && t_total < 850 && '{{ waiting_date }}'==today_date_han && (t_hours_3==t_waiting_time_3 || t_hours_3==t_waiting_time_4)) {
                $('#waiting_num_notice').show();
                {#document.getElementById('waiting_inform').style.display='block';#}
            }
            else {
                $('#waiting_num_notice').hide();
                {#document.getElementById('waiting_inform').style.display='none';#}
            }
        }

        waiting_inform_2();

        function modal_close_1() {
            $('#modal_inform').hide();
        }

        function modal_close() {
            $('#notes-modal').modal('hide');
        }


    </script>
    <style>

        #modal_inform{
        {#width: 100%;#}
        {#height: 100%;#}
            margin: 24rem 0;
        {#padding: 0;#}
        }

    </style>
{% endblock %}