{% extends 'base.html' %}

{% block content %}

    <div style="margin-top: 8rem;">
        <h2 style="text-align: center;">
            [통증의학에서 치료하는 질환]
        </h2>
    </div>
    <div style="max-width: 680px; padding: 1rem; margin: 4rem auto; line-height: 1.96">
        <h5>통증의학에서는 다양한 질환을 치료합니다. 주요한 질환들은 다음과 같습니다.</h5><br>

        <p><strong>근골격계 질환:</strong><br>
            요통, 경추통, 어깨통(회전근개 증후군), 관절통, 근막통증 증후군, 건초염 등</p>
        <p><strong>스포츠 손상 질환:</strong><br>
            무릎 인대 부분 파열, 관절 염좌, 테니스 엘보우, 골프 엘보우, 발목염좌, 근육파열</p>
        <p><strong>척추 질환:</strong><br>
            수핵탈출증, 경추, 요추 디스크 질환, 척추관 협착증, 척추측만증, 척추 분리증, 척추 천방 전위증 등</p>
        <p><strong>관절 질환;</strong><br>
            퇴행성 관절염, 류마티스성 관절염</p>
        <p><strong>신경통:</strong><br>
            좌골신경통, 대상포진 후 신경통, 후두신경염, 안면신경통, 삼차신경통, 안면신경 마비, 손목 터널 증후군 등</p>
        <p><strong>두통:</strong><br>
            편두통, 긴장성 두통, 군발성 두통, 경추 기인성 두통 등</p>
        <p><strong>자율신경계 이상:</strong><br>
            불안, 우울, 스트레스 등에 의해 발생하는 통증</p>
        <p><strong>만성 통증 증후군:</strong><br>
            만성 허리통증, 만성 두통, 만성 피로 증후군, 복합부위 통증 증후군 등의 질환</p>
        <p><strong>복통:</strong><br>
            소화기 질환, 생식기 질환 등에 의한 통증</p>
        <p><strong>재활치료:</strong><br>
            근력 강화, 유연성 개선, 균형 향상 등을 통해 기능 회복을 돕는 치료</p>
    </div>

    <style>
    </style>

{% endblock %}