{% extends 'base.html' %}

{% block content %}

    <div style="margin-top: 8rem;">
        <h2 style="text-align: center;">
            [개인정보 동의에 관한 사항]
        </h2>
    </div>
    <div style="max-width: 680px; padding: 1rem; margin: 4rem auto; line-height: 1.96">
        <h5>1. 개인정보 수집 항목</h5>
        <p>병원은 다음과 같은 개인정보를 수집합니다.</p>

        <ul>수집항목: 성명, 생년월일, 주소, 전화번호, 이메일, 진료과목, 예약일자, 진단서, 검사결과, 진료비 결제정보 등</ul>
        <ul>수집목적: 진료서비스 제공, 예약관리, 환자의 건강상태 파악 및 치료, 진료비 정산 및 환급, 건강보험심사평가원 등의 기관과의 의무 이행 등</ul>
        <ul>보유 및 이용기간: 개인정보의 수집목적이 달성된 후 지체 없이 파기, 단 보존기간은 5년 이내로 한정</ul><br>

        <h5>2.개인정보의 이용 목적</h5>
        <p>병원은 다음과 같은 목적으로 개인정보를 이용합니다.</p>

        <ul>진료서비스 제공 및 예약관리</ul>
        <ul>환자의 건강상태 파악 및 치료를 위한 진료 및 검사</ul>
        <ul>진료비 정산 및 환급</ul>
        <ul>건강보험심사평가원 등의 기관과의 의무 이행</ul><br>

        <h5>3.개인정보의 제공</h5>
        <p>병원은 고객의 개인정보를 제3자에게 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>

        <ul>제공받는자: 건강보험심사평가원, 국민건강보험공단 등 관련 기관</ul>
        <ul>제공목적: 건강보험급여, 진료비 정산 등 건강보험 관련 업무 수행</ul>
        <ul>제공항목: 성명, 생년월일, 주소, 진료과목, 진단서, 검사결과, 진료비 결제정보 등</ul>
        <ul>보유 및 이용기간: 제공받는 기관의 보유 및 이용기간에 따름</ul><br>

        <h5>4.개인정보의 보유 및 이용기간</h5>
        <p>병원은 고객의 개인정보를 수집목적 또는 제공목적이 달성된 후에는 지체 없이 파기합니다.<br> 단, 관련 법령에 의하여 보존할 필요가 있는 경우에는 일정기간동안 보관합니다.<br> 예를 들면,</p>

        <ul>진료비 결제정보: 5년간 보관</ul>
        <ul>진단서, 검사결과 등의 건강정보: 10년간 보관</ul>

    </div>

    <style>
    </style>

{% endblock %}