{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    {% if user.is_staff %}
        <div style="text-align: center; max-width: 600px; margin: 8rem auto;">
            <div style="margin-bottom: 6rem">
                <h2 style="margin-bottom: 4rem">[관리자 페이지]</h2>
                <h4>선착순 대기환자 수정</h4>
            </div>
            <form action="{% url 'articleapp:waiting_update' pk=1 %}" method="post">
                {%  csrf_token %}
                <div style="margin-bottom: 4rem">
                    {% bootstrap_form form %}
                </div>
                <input type="submit" value="수정" class="btn btn-primary rounded-pill col-6 mt-4">
            </form>
        </div>
    {% endif %}
{% endblock %}