{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div style="text-align: center; max-width: 600px; margin: 4rem auto;">
        <div style="margin: 4rem">
            <h3>프로필 입력</h3>
            <h6 style="color: darkred; margin: 2rem; font-size: 1.2rem">예약 하시려면 먼저 '프로필'을 입력하셔야 합니다.</h6>
        </div>
        <form action="{% url 'profileapp:create' %}" method="post">
            {%  csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="확인" class="btn btn-primary rounded-pill col-6 mt-4">
        </form>
    </div>

{% endblock %}