{%  extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div style="margin-top: 8rem;">
        <div class="mb-4" style="text-align: center;">
            <h4>[프로필 수정]</h4>
        </div>
        <div style="max-width: 480px; padding: 2rem; margin: 4rem auto; line-height: 1.96; text-align: center;">
            <form action="{% url 'profileapp:update' pk=profile.pk %}" method="post">
                {%  csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary rounded-pill col-6 mt-3">
            </form>
        </div>
    </div>
{% endblock %}